* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_14 {
  width: 100%;
  height: 3240px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_15 {
  width: 100%;
  height: 100%;
  background: rgba(16,16,20,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_16 {
  width: 196px;
  height: 62px;
  background: rgba(48,48,52,1);
  opacity: 0.6899999976158142;
  position: absolute;
  top: 821px;
  left: 582px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_17 {
  width: 153px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 839px;
  left: 611px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 196px;
  height: 62px;
  background: rgba(48,48,52,1);
  opacity: 0.6899999976158142;
  position: absolute;
  top: 821px;
  left: 813px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_19 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 839px;
  left: 842px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 607px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 638px;
  left: 629px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 481px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 697px;
  left: 673px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_23 {
  width: 338px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1211px;
  left: 1278px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_24 {
  width: 627px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1290px;
  left: 1125px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_25 {
  width: 421px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1563px;
  left: 1240px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 627px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1658px;
  left: 1125px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_27 {
  width: 892px;
  height: 589px;
  background: rgba(41,41,44,1);
  opacity: 0.27000001072883606;
  position: absolute;
  top: 1345px;
  left: 90px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
  overflow: hidden;
}
.v1_28 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1279px;
  left: 410px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2344px;
  left: 362px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_30 {
  width: 359px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2415px;
  left: 362px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2344px;
  left: 792px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_32 {
  width: 350px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2415px;
  left: 792px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_33 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2344px;
  left: 1204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: left;
}
.v1_34 {
  width: 359px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2415px;
  left: 1204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_35 {
  width: 102px;
  color: rgba(184,184,184,1);
  position: absolute;
  top: 2258px;
  left: 916px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_37 {
  width: 100%;
  height: 279px;
  background: rgba(50,50,57,1);
  opacity: 0.9300000071525574;
  position: absolute;
  top: 2963px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_38 {
  width: 161px;
  color: rgba(184,184,184,1);
  position: absolute;
  top: 3202px;
  left: 884px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_39 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3015px;
  left: 1507px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_40 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3015px;
  left: 245px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_41 {
  width: 557px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3055px;
  left: 52px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_42 {
  width: 216px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3015px;
  left: 861px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_43 {
  width: 196px;
  height: 62px;
  background: rgba(48,48,52,1);
  opacity: 0.6899999976158142;
  position: absolute;
  top: 821px;
  left: 1049px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_44 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 839px;
  left: 1065px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v1_45 {
  width: 100%;
  height: 85px;
  background: rgba(0,0,0,1);
  opacity: 0.27000001072883606;
  position: absolute;
  top: 99px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_46 {
  width: 56px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 510px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_47 {
  width: 54px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 599px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_48 {
  width: 66px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 682px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_49 {
  width: 77px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 777px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_50 {
  width: 81px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 126px;
  left: 883px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_51 {
  width: 145px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 994px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_52 {
  width: 65px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 125px;
  left: 1166px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_53 {
  width: 138px;
  height: 69px;
  background: url("../images/v1_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 337px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_54 {
  width: 100%;
  height: 99px;
  background: rgba(50,50,57,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_55 {
  width: 207px;
  height: 104px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 857px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v5_2 {
  width: 671px;
  height: 337px;
  background: url("../images/v5_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 588px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_68 {
  width: 228px;
  height: 35px;
  background: url("../images/v1_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 1260px;
  overflow: hidden;
}
.v1_57 {
  width: 28px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_59 {
  width: 30px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 47px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_61 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 98px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_63 {
  width: 24px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_65 {
  width: 37px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 191px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_66 {
  width: 54px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 510px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
