.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-home-elm {
  width: 100%;
  height: 3240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-rgb255255255);
}
 
.home-thq-rectangle1-elm {
  top: 0px;
  left: -2px;
  width: 1922px;
  height: 3240px;
  position: absolute;
}
 
.home-thq-rectangle23-elm {
  top: 821px;
  left: 582px;
  width: 196px;
  height: 62px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.home-thq-text-elm10 {
  top: 839px;
  left: 611px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-rectangle24-elm {
  top: 821px;
  left: 813px;
  width: 196px;
  height: 62px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.home-thq-text-elm11 {
  top: 839px;
  left: 842px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm12 {
  top: 638px;
  left: 629px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm13 {
  top: 697px;
  left: 673px;
  color: rgba(112, 112, 112, 1);
  width: 481px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-nuro-net-back01-elm1 {
  top: 250px;
  left: 567px;
  width: 693px;
  height: 347px;
  position: absolute;
}
 
.home-thq-text-elm14 {
  top: 1211px;
  left: 1278px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm15 {
  top: 1290px;
  left: 1125px;
  color: rgba(255, 255, 255, 1);
  width: 627px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm18 {
  top: 1563px;
  left: 1240px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm19 {
  top: 1658px;
  left: 1125px;
  color: rgba(255, 255, 255, 1);
  width: 627px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-rectangle28-elm {
  top: 1345px;
  left: 90px;
  width: 892px;
  height: 589px;
  opacity: 0.27;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 125px;
}
 
.home-thq-text-elm24 {
  top: 1279px;
  left: 410px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm25 {
  top: 2344px;
  left: 362px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm26 {
  top: 2415px;
  left: 362px;
  color: rgba(255, 255, 255, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm27 {
  top: 2344px;
  left: 792px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm28 {
  top: 2415px;
  left: 792px;
  color: rgba(255, 255, 255, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm29 {
  top: 2344px;
  left: 1204px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm30 {
  top: 2415px;
  left: 1204px;
  color: rgba(255, 255, 255, 1);
  width: 359px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm31 {
  top: 2258px;
  left: 916px;
  color: rgba(184, 184, 184, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-line2-elm {
  top: 2310.336669921875px;
  left: 1690.3948974609375px;
  width: 1461px;
  height: 1px;
  position: absolute;
}
 
.home-thq-rectangle25-elm {
  top: 2963px;
  left: 0px;
  width: 1920px;
  height: 279px;
  opacity: 0.93;
  position: absolute;
}
 
.home-thq-text-elm32 {
  top: 3202px;
  left: 884px;
  color: rgba(184, 184, 184, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm33 {
  top: 3015.5px;
  left: 1507px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm34 {
  top: 3015.5px;
  left: 245px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm35 {
  top: 3055px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  width: 557px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm36 {
  top: 3015.5px;
  left: 861px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-rectangle38-elm {
  top: 821px;
  left: 1049px;
  width: 196px;
  height: 62px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.home-thq-text-elm37 {
  top: 839px;
  left: 1065px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-rectangle6-elm {
  top: 99px;
  left: 0px;
  width: 1920px;
  height: 85px;
  opacity: 0.27;
  position: absolute;
}
 
.home-thq-text-elm38 {
  top: 125px;
  left: 510px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm39 {
  top: 125px;
  left: 599px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm40 {
  top: 125px;
  left: 682px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm41 {
  top: 125px;
  left: 777px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm42 {
  top: 126px;
  left: 883px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm43 {
  top: 125px;
  left: 994px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-text-elm44 {
  top: 125px;
  left: 1166px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-thq-nuro-net-back01-elm2 {
  top: 107px;
  left: 337px;
  width: 138px;
  height: 69px;
  position: absolute;
}
 
.home-thq-rectangle13-elm {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 99px;
  position: absolute;
}
 
.home-thq-nuro-net-back01-elm3 {
  top: 3px;
  left: 857px;
  width: 207px;
  height: 104px;
  position: absolute;
}
 
.home-thq-group1-elm {
  top: 123.81913757324219px;
  left: 1260.9971923828125px;
  width: 228.0028076171875px;
  height: 35.18138885498047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.home-thq-patreon-elm {
  top: 2.3304595947265625px;
  left: 0px;
  width: 28px;
  height: 31px;
  position: absolute;
}
 
.home-thq-discord-elm {
  top: 3.1630859375px;
  left: 47.8294677734375px;
  width: 30px;
  height: 24px;
  position: absolute;
}
 
.home-thq-github-elm {
  top: 2.1808624267578125px;
  left: 98.0028076171875px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.home-thq-buymeacoffee-elm {
  top: 0px;
  left: 147.9215087890625px;
  width: 24px;
  height: 35px;
  position: absolute;
}
 
.home-thq-youtube-elm {
  top: 7.1808624267578125px;
  left: 191.0028076171875px;
  width: 37px;
  height: 26px;
  position: absolute;
}
 
.home-thq-rectangle33-elm {
  top: 154px;
  left: 510px;
  width: 54px;
  height: 2px;
  position: absolute;
  border-radius: 10px;
}
 
.home-thq-line6-elm {
  top: 184px;
  left: 1690.3948974609375px;
  width: 1461px;
  height: 1px;
  position: absolute;
}
 
.home-link {
  display: contents;
}
 
.home-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text9 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
