.pricing-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.pricing-thq-pricing-elm {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-rgb255255255);
}
 
.pricing-thq-rectangle1-elm {
  top: 0px;
  left: -2px;
  width: 1922px;
  height: 1080px;
  position: absolute;
}
 
.pricing-thq-rectangle14-elm {
  top: 482.5px;
  left: 1204.0001220703125px;
  width: 359px;
  height: 202px;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-rectangle15-elm {
  top: 489.5px;
  left: 1272.0001220703125px;
  width: 216px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-rectangle16-elm {
  top: 482.5px;
  left: 362.0001220703125px;
  width: 359px;
  height: 202px;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-rectangle17-elm {
  top: 482.5px;
  left: 783.0001220703125px;
  width: 359px;
  height: 202px;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-rectangle18-elm {
  top: 489.5px;
  left: 849.0001220703125px;
  width: 227px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-rectangle19-elm {
  top: 489.5px;
  left: 440.0001220703125px;
  width: 192px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-text-elm10 {
  top: 493.5px;
  left: 453.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm11 {
  top: 553.5px;
  left: 520.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm12 {
  top: 583.5px;
  left: 497.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm13 {
  top: 613.5px;
  left: 474.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm14 {
  top: 493.5px;
  left: 861.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm15 {
  top: 553.5px;
  left: 919.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm16 {
  top: 583.5px;
  left: 925.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm17 {
  top: 613.5px;
  left: 901.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm18 {
  top: 493.5px;
  left: 1289.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm19 {
  top: 554.5px;
  left: 1346.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm20 {
  top: 584.5px;
  left: 1342.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm21 {
  top: 614.5px;
  left: 1320.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm22 {
  top: 405.5px;
  left: 872.0001220703125px;
  color: rgba(184, 184, 184, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-rectangle20-elm {
  top: 642.5px;
  left: 486.0001220703125px;
  width: 99px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-text-elm23 {
  top: 647.5px;
  left: 515.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-rectangle21-elm {
  top: 642.5px;
  left: 917.0001220703125px;
  width: 100px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-text-elm24 {
  top: 647.5px;
  left: 947.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-rectangle22-elm {
  top: 642.5px;
  left: 1334.0001220703125px;
  width: 99px;
  height: 36px;
  opacity: 0.69;
  position: absolute;
  border-radius: 20px;
}
 
.pricing-thq-text-elm25 {
  top: 647.5px;
  left: 1363.0001220703125px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-line3-elm {
  top: 460.163330078125px;
  left: 1690.3948974609375px;
  width: 1461px;
  height: 1px;
  position: absolute;
}
 
.pricing-thq-nuro-net-back01-elm1 {
  top: 159px;
  left: 785px;
  width: 350px;
  height: 175px;
  position: absolute;
}
 
.pricing-thq-rectangle25-elm {
  top: 803px;
  left: 0px;
  width: 1920px;
  height: 279px;
  opacity: 0.93;
  position: absolute;
}
 
.pricing-thq-text-elm26 {
  top: 1042px;
  left: 884px;
  color: rgba(184, 184, 184, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm27 {
  top: 855.5px;
  left: 1507px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm28 {
  top: 855.5px;
  left: 245px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm29 {
  top: 895px;
  left: 52px;
  color: rgba(255, 255, 255, 1);
  width: 557px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm30 {
  top: 855.5px;
  left: 861px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-rectangle6-elm {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 85px;
  opacity: 0.27;
  position: absolute;
}
 
.pricing-thq-text-elm31 {
  top: 26px;
  left: 510.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm32 {
  top: 26px;
  left: 599.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm33 {
  top: 26px;
  left: 682.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm34 {
  top: 26px;
  left: 777.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm35 {
  top: 27px;
  left: 883.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm36 {
  top: 26px;
  left: 994.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-text-elm37 {
  top: 26px;
  left: 1166.11376953125px;
  color: rgba(112, 112, 112, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.pricing-thq-nuro-net-back01-elm2 {
  top: 8px;
  left: 337.11376953125px;
  width: 138px;
  height: 69px;
  position: absolute;
}
 
.pricing-thq-rectangle34-elm {
  top: 58px;
  left: 1163px;
  width: 66px;
  height: 2px;
  position: absolute;
  border-radius: 10px;
}
 
.pricing-thq-group2-elm {
  top: 24.909263610839844px;
  left: 1261.1138916015625px;
  width: 228.0028076171875px;
  height: 35.18138885498047px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.pricing-thq-patreon-elm {
  top: 2.33056640625px;
  left: 0px;
  width: 28px;
  height: 31px;
  position: absolute;
}
 
.pricing-thq-discord-elm {
  top: 3.1630859375px;
  left: 47.8294677734375px;
  width: 30px;
  height: 24px;
  position: absolute;
}
 
.pricing-thq-github-elm {
  top: 2.180908203125px;
  left: 98.0028076171875px;
  width: 30px;
  height: 30px;
  position: absolute;
}
 
.pricing-thq-buymeacoffee-elm {
  top: 0px;
  left: 147.9215087890625px;
  width: 24px;
  height: 35px;
  position: absolute;
}
 
.pricing-thq-youtube-elm {
  top: 7.180908203125px;
  left: 191.0028076171875px;
  width: 37px;
  height: 26px;
  position: absolute;
}
 
.pricing-thq-line6-elm {
  top: 85px;
  left: 1690.3948974609375px;
  width: 1461px;
  height: 1px;
  position: absolute;
}
 
.pricing-link {
  display: contents;
}
 
.pricing-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.pricing-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.pricing-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
